/* ===============
    Font Families
=============== */

@font-face {font-family: "CoveredByYourGrace-Regular"; src: url("fonts/CoveredByYourGrace-Regular.ttf"); }
@font-face {font-family: "AdventPro-Light"; src: url("fonts/AdventPro-Light.ttf"); }

/* ===============
    Base Styles
=============== */

body {
    margin: 0 0;
    padding: 0 0;
}

.testonator {
    font-family: CoveredByYourGrace-Regular;
    text-align: center;
}

.bodytestonator {
    font-family: AdventPro-Light;
    text-align: center;
}