/* ===============
    Font Families
=============== */

@font-face {font-family: "CoveredByYourGrace-Regular"; src: url("fonts/CoveredByYourGrace-Regular.ttf"); }
@font-face {font-family: "AdventPro-Light"; src: url("fonts/AdventPro-Light.ttf"); }



/* ===============
    Base Styles
=============== */

body, html {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}



/* ===============
    General Styles
=============== */

.landing_container {
    height: 100vh;
    background-color: #FAB735;
}

#kw_heading {
    font-family: CoveredByYourGrace-Regular;
    text-align: right;
    font-size: 54px;
}

#kw_isometric {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: block;
    padding-top: 150px;
}

#kw_landing_subheading {
    font-family: AdventPro-Light;
    text-align: left;
    font-size: 16px;
    padding-top: 150px;
}




.landing_container_2 {
    height: 100vh;
    background-color: #E85124;
}

#kw_heading_2 {
    font-family: CoveredByYourGrace-Regular;
    text-align: left;
    font-size: 54px;
    padding-top: 24px;
    color: white;
}

#contact_methods {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
}

#contact_methods aside {
    text-align: center;
    font-family: AdventPro-Light;
    margin-bottom: 36px;
    color: white;
}

#contact_methods aside h2 {
    text-decoration: underline;
    font-size: 20px;
    color: white;
}

.contact_icons {
    width: 69px;
    height: 69px;
    margin-top: 5px;
}




.landing_container_3 {
    height: 100vh;
    background-color: #E85124;
}

#kw_heading_3 {
    font-family: CoveredByYourGrace-Regular;
    text-align: left;
    font-size: 56px;
    color: white;
}

#kw_menu {
    width: 100%;
    height: 90%;
}




.landing_container_4 {
    height: 100vh;
    background-color: #FAB735;
}

#kw_heading_4 {
    font-family: CoveredByYourGrace-Regular;
    text-align: right;
    font-size: 54px;
    padding-top: 24px;
}

#foodie_foto {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
}

#foodie_foto aside {
    text-align: center;
}

#foodie_foto aside:last-of-type {
    padding-top: 100px;
}

.chicken_items {
    width: 150px;
    height: 150px;
    margin-top: 5px;
}

.foodie_captions {
    font-family: AdventPro-Light;
    text-align: center;
    font-size: 16px;
}

/* ===============
    Media Queries
=============== */

@media (min-width: 600px) {
    
#kw_heading {
    font-family: CoveredByYourGrace-Regular;
    text-align: right;
    font-size: 112px;
}

#kw_isometric {
    width: 100%;
    height: 60%;
    margin: 0 auto;
    display: block;
    padding-top: 0;
}

#kw_landing_subheading {
    font-family: AdventPro-Light;
    text-align: left;
    padding-top: 1.25em;
    font-size: 22px;
}




.landing_container_2 {
    height: 100vh;
    background-color: #E85124;
}

#kw_heading_2 {
    font-family: CoveredByYourGrace-Regular;
    text-align: left;
    font-size: 112px;
    padding-top: 24px;
    color: white;
}

#contact_methods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 0;
}

#contact_methods aside {
    text-align: center;
    font-family: AdventPro-Light;
    color: white;
}

#contact_methods aside h2 {
    text-decoration: underline;
    font-size: 28px;
    color: white;
}

.contact_icons {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

#contact_phone:hover {
    filter: invert(51%) sepia(10%) saturate(3277%) hue-rotate(71deg) brightness(93%) contrast(82%);
}

#contact_facebook:hover {
    filter: invert(39%) sepia(8%) saturate(4029%) hue-rotate(182deg) brightness(95%) contrast(88%);
}

#contact_instagram:hover {
    filter: invert(39%) sepia(22%) saturate(2421%) hue-rotate(300deg) brightness(92%) contrast(87%);
}




.landing_container_3 {
    height: 100vh;
    background-color: #E85124;
    display: flex;
    justify-content: center;
}

#kw_heading_3 {
    font-family: CoveredByYourGrace-Regular;
    text-align: right;
    font-size: 112px;
    position: relative;
    float: left;
    color: white;
}

#kw_heading_3 span {
    position: absolute;
    width: 500px;
    display: inline-block;
    left: -300px;
    top: 150px;
    transform: rotate(-90deg);
    text-align: center;
}

#kw_menu {
    width: 40%;
    height: 100%;
}




.landing_container_4 {
    height: 100vh;
    background-color: #FAB735;
}

#kw_heading_4 {
    font-family: CoveredByYourGrace-Regular;
    text-align: center;
    font-size: 112px;
    padding-top: 24px;
}

#foodie_foto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 0;
}

#foodie_foto aside:last-of-type {
    padding-top: 0;
}

.chicken_items {
    width: 300px;
    height: 300px;
}

.foodie_captions {
    font-family: AdventPro-Light;
    text-align: center;
    padding-top: 1.25em;
    font-size: 22px;
}

}