/* ===============
    Font Families
=============== */

@font-face {font-family: "CoveredByYourGrace-Regular"; src: url("fonts/CoveredByYourGrace-Regular.ttf"); }
@font-face {font-family: "AdventPro-Light"; src: url("fonts/AdventPro-Light.ttf"); }



/* ===============
    Base Styles
=============== */

body, html {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}



/* ===============
    General Styles
=============== */

#kw_heading {
    font-family: CoveredByYourGrace-Regular;
    text-align: right;
    font-size: 144px;
}

.bodytestonator {
    font-family: AdventPro-Light;
    text-align: center;
}

.landing_container {
    height: 100vh;
    background-color: pink;
}

.landing_container_2 {
    height: 100vh;
    background-color: lightblue;
}

.landing_container_3 {
    height: 100vh;
    background-color: palevioletred;
}

#kw_menu {
    width: 100%;
}